In [1]:
import csv

### Questions1 and 2

In [2]:
with open('input_data.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    data = [(row['RECORD_CREATION_DATE'], int(row['LOAN_AMOUNT'])) for row in reader]

In [3]:
# get the max loan amount
max_loan_amount= max(data, key=lambda x: x[1])[1]

In [4]:
# get the preceding date
prev = data[0][0]
if prev[1] == max_loan_amount:
    print prev[0]
else:
    for row in data[1:]:
        if row[1] == max_loan_amount:
            print prev
            break
        else:
            prev = row[0]

26May2014:18:03:41.000000

### Questions 3 and 4

    3. If the input data were not sorted by RECORD_CREATION_DATE, how would you solve this problem?

    I would do it in the same way by i will sort it based on date and them i will follow the same procedre.
    Sorting is done based on first value in the tuple as below.

In [5]:
data = sorted(data, key= lambda x: x[0])

    4. Your friend suggests that csv.DictReader is a better choice than pandas.read_csv for dealing
    with huge datafiles. Why do you think your friend suggests this, and are they right?
    
    It depends upon what i am doing.
    
        If its for just reading the data and not much of operations on it, i would go with "csv".
    
        If data analysis should be performed on the read data and some sample plots are required for
        priliminary assesment then i would go with "pandas".

### Part 2

In [6]:
import re
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv("input_data.csv")
# Set to a pandas datetime
df["entry_recorded"] = pd.to_datetime(df['RECORD_CREATION_DATE'], format='%d%b%Y:%H:%M:%S.%f')
df.head(5)

,RECORD_CREATION_DATE,LOAN_AMOUNT,CREDIT_RANGE,EXISTING_DEBT,AGENT_NOTES,OFFICE_LOCATION,entry_recorded
0,01May2014:12:56:37.000000,2500,780-799,NaN,"Monthly gross income 1,250",WASHINGTON STATE,2014-05-01 12:56:37
1,01May2014:16:55:30.000000,4700,760-779,"$10,001-$20,000","Annual gross income: $15,000",NORTHERN CALIFORNIA,2014-05-01 16:55:30
2,01May2014:17:05:59.000000,5800,740-759,"$20,001-$30,000","Annual gross income: $15,000",WASHINGTON STATE,2014-05-01 17:05:59
3,02May2014:10:51:57.000000,2500,700-719,"$90,001-$100,000","Monthly gross income 5,480",SOUTHERN CALIFORNIA,2014-05-02 10:51:57
4,02May2014:14:19:03.000000,4600,780-799,"$20,001-$30,000",NaN,WASHINGTON STATE,2014-05-02 14:19:03

In [8]:
import re
# Returns monthly net income if it appears in the AGENT_NOTES field (divide annual income by 12)
# Field should be a float datatype
def monthly_income_parser(x):
    annual_income = 0
    month_income = 0
    month_match = False
    annual_match = False
    
    if x == np.nan:
        return np.nan
    
    if len(str(x)) > 3:
        # get monthly income
        if "Monthly gross income" in x:
            month_match = True

            # get monthly income and debt.
            if '...' in x:
                one, two = x.split('...')
                one = "".join(re.findall(r'[0-9]+', one))
                two = "".join(re.findall(r'[0-9]+', two))  

                one = float(one) if one != "" else  0
                two = float(one) if two != "" else  0

                # assuming debt is always less than monthly income
                month_income = '$' + str(max(one, two) - min(one, two))
            else:
                # no debt case
                print(x)
                one = "".join(re.findall(r'[0-9]+', x))
                one = int(one) if one != "" else  0
                month_income = '$' + str(one)

        elif "Annual gross income" in x:
            # annual income

            annual_match = True
            if '...' in x:
                one, two = x.split('...')
                one = "".join(re.findall(r'[0-9]+', one))
                two = "".join(re.findall(r'[0-9]+', two))

                one = int(one) if one != "" else  0
                two = int(two) if two != "" else  0

                if one >  two:
                    one = one / 12
                else:
                    two = two / 12

                annual_income = '$' + str(max(one, two) - min(one, two))
            else:
                one = "".join(re.findall(r'[0-9]+', x))
                one = int(one) if one != "" else  0
                annual_income = '$' + str(one)
            
    if month_match:
        return month_income
    elif annual_match:
        return annual_income
    else:
        return np.nan

In [9]:
df["monthly_income"] = df["AGENT_NOTES"].apply(monthly_income_parser)

Monthly gross income 1,250
Monthly gross income 5,480
Monthly gross income 2,570
Monthly gross income 14,750
Monthly gross income 7,500
Monthly gross income 2,650
Monthly gross income 2,900
Monthly gross income 8,210
Monthly gross income 2,190
Monthly gross income 1,250
Monthly gross income 4,380
Monthly gross income 8,780
Monthly gross income 2,940
Monthly gross income 13,410
Monthly gross income 3,230
Monthly gross income 16,670
Monthly gross income 15,860
Monthly gross income 4,620
Monthly gross income 5,900
Monthly gross income 5,740
Monthly gross income 8,200
Monthly gross income 15,360
Monthly gross income 8,430
Monthly gross income 4,650
Monthly gross income 2,230
Monthly gross income 1,250
Monthly gross income 2,160
Monthly gross income 4,730
Monthly gross income 6,220
Monthly gross income 1,250
Monthly gross income 14,890
Monthly gross income 2,450
Monthly gross income 1,250
Monthly gross income 1,470
Monthly gross income 2,090
Monthly gross income 1,800
Monthly gross income 16,670
Monthly gross income 2,810
Monthly gross income 5,470
Monthly gross income 10,300
Monthly gross income 1,860
Monthly gross income 3,440
Monthly gross income 6,180
Monthly gross income 2,270
Monthly gross income 7,240
Monthly gross income 3,330
Monthly gross income 10,380
Monthly gross income 8,290
Monthly gross income 2,320
Monthly gross income 1,250
Monthly gross income 4,880
Monthly gross income 1,740
Monthly gross income 8,770
Monthly gross income 1,330
Monthly gross income 2,250
Monthly gross income 1,250
Monthly gross income 2,740
Monthly gross income 1,950
Monthly gross income 10,460
Monthly gross income 1,250
Monthly gross income 3,480
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 1,990
Monthly gross income 5,220
Monthly gross income 1,420
Monthly gross income 16,670
Monthly gross income 7,480
Monthly gross income 13,990
Monthly gross income 3,860
Monthly gross income 4,770
Monthly gross income 16,670
Monthly gross income 2,320
Monthly gross income 16,670
Monthly gross income 2,190
Monthly gross income 5,270
Monthly gross income 8,670
Monthly gross income 12,730
Monthly gross income 6,730
Monthly gross income 1,300
Monthly gross income 12,380
Monthly gross income 9,650
Monthly gross income 6,400
Monthly gross income 2,630
Monthly gross income 16,670
Monthly gross income 3,320
Monthly gross income 16,480
Monthly gross income 3,480
Monthly gross income 4,900
Monthly gross income 1,250
Monthly gross income 1,750
Monthly gross income 1,860
Monthly gross income 2,360
Monthly gross income 2,080
Monthly gross income 5,080
Monthly gross income 4,270
Monthly gross income 2,440
Monthly gross income 4,280
Monthly gross income 1,280
Monthly gross income 9,420
Monthly gross income 4,880
Monthly gross income 1,250
Monthly gross income 1,630
Monthly gross income 1,490
Monthly gross income 2,000
Monthly gross income 3,320
Monthly gross income 3,490
Monthly gross income 3,080
Monthly gross income 1,250
Monthly gross income 5,230
Monthly gross income 5,050
Monthly gross income 1,570
Monthly gross income 6,590
Monthly gross income 2,420
Monthly gross income 1,250
Monthly gross income 1,630
Monthly gross income 8,470
Monthly gross income 1,660
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 8,500
Monthly gross income 1,330
Monthly gross income 5,000
Monthly gross income 1,810
Monthly gross income 10,130
Monthly gross income 4,110
Monthly gross income 4,010
Monthly gross income 1,640
Monthly gross income 2,210
Monthly gross income 6,140
Monthly gross income 8,230
Monthly gross income 1,250
Monthly gross income 1,400
Monthly gross income 2,880
Monthly gross income 1,250
Monthly gross income 1,510
Monthly gross income 3,250
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 4,620
Monthly gross income 4,330
Monthly gross income 2,550
Monthly gross income 3,360
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 8,850
Monthly gross income 2,960
Monthly gross income 16,670
Monthly gross income 3,270
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 1,860
Monthly gross income 1,880
Monthly gross income 4,450
Monthly gross income 3,260
Monthly gross income 6,090
Monthly gross income 9,080
Monthly gross income 3,830
Monthly gross income 1,250
Monthly gross income 1,290
Monthly gross income 1,250
Monthly gross income 16,240
Monthly gross income 2,860
Monthly gross income 2,220
Monthly gross income 2,180
Monthly gross income 2,730
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 9,650
Monthly gross income 3,330
Monthly gross income 2,960
Monthly gross income 3,370
Monthly gross income 2,280
Monthly gross income 1,250
Monthly gross income 3,890
Monthly gross income 12,680
Monthly gross income 1,250
Monthly gross income 7,240
Monthly gross income 1,250
Monthly gross income 7,360
Monthly gross income 1,880
Monthly gross income 10,290
Monthly gross income 3,180
Monthly gross income 16,670
Monthly gross income 16,670
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 1,820
Monthly gross income 7,560
Monthly gross income 16,670
Monthly gross income 7,230
Monthly gross income 1,720
Monthly gross income 4,420
Monthly gross income 8,940
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 3,570
Monthly gross income 2,320
Monthly gross income 2,140
Monthly gross income 1,250
Monthly gross income 2,340
Monthly gross income 4,120
Monthly gross income 3,320
Monthly gross income 13,980
Monthly gross income 3,280
Monthly gross income 2,360
Monthly gross income 1,250
Monthly gross income 6,020
Monthly gross income 2,800
Monthly gross income 6,770
Monthly gross income 1,820
Monthly gross income 3,480
Monthly gross income 2,810
Monthly gross income 3,830
Monthly gross income 6,970
Monthly gross income 6,180
Monthly gross income 1,680
Monthly gross income 3,570
Monthly gross income 1,290
Monthly gross income 10,740
Monthly gross income 16,670
Monthly gross income 2,880
Monthly gross income 1,890
Monthly gross income 4,180
Monthly gross income 2,230
Monthly gross income 1,250
Monthly gross income 1,630
Monthly gross income 16,670
Monthly gross income 10,410
Monthly gross income 3,990
Monthly gross income 4,570
Monthly gross income 2,430
Monthly gross income 2,940
Monthly gross income 6,190
Monthly gross income 3,250
Monthly gross income 2,430
Monthly gross income 10,470
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 7,310
Monthly gross income 3,380
Monthly gross income 9,570
Monthly gross income 12,950
Monthly gross income 4,650
Monthly gross income 5,350
Monthly gross income 2,030
Monthly gross income 1,720
Monthly gross income 9,120
Monthly gross income 16,670
Monthly gross income 11,730
Monthly gross income 5,590
Monthly gross income 1,250
Monthly gross income 4,460
Monthly gross income 2,030
Monthly gross income 3,620
Monthly gross income 7,390
Monthly gross income 3,550
Monthly gross income 1,250
Monthly gross income 1,810
Monthly gross income 4,430
Monthly gross income 3,520
Monthly gross income 1,250
Monthly gross income 3,940
Monthly gross income 2,040
Monthly gross income 3,000
Monthly gross income 9,030
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 4,550
Monthly gross income 16,210
Monthly gross income 10,590
Monthly gross income 3,280
Monthly gross income 3,440
Monthly gross income 3,530
Monthly gross income 4,580
Monthly gross income 1,250
Monthly gross income 6,910
Monthly gross income 6,070
Monthly gross income 10,640
Monthly gross income 16,670
Monthly gross income 3,120
Monthly gross income 2,280
Monthly gross income 1,790
Monthly gross income 1,380
Monthly gross income 6,870
Monthly gross income 1,600
Monthly gross income 3,730
Monthly gross income 16,670
Monthly gross income 2,280
Monthly gross income 2,890
Monthly gross income 7,900
Monthly gross income 1,250
Monthly gross income 3,400
Monthly gross income 1,250
Monthly gross income 11,010
Monthly gross income 2,330
Monthly gross income 2,460
Monthly gross income 1,250
Monthly gross income 8,110
Monthly gross income 2,930
Monthly gross income 3,510
Monthly gross income 7,030
Monthly gross income 9,500
Monthly gross income 5,080
Monthly gross income 5,380
Monthly gross income 2,430
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 8,180
Monthly gross income 1,250
Monthly gross income 3,710
Monthly gross income 1,560
Monthly gross income 16,670
Monthly gross income 16,670
Monthly gross income 13,040
Monthly gross income 16,670
Monthly gross income 2,220
Monthly gross income 9,780
Monthly gross income 1,250
Monthly gross income 3,710
Monthly gross income 3,840
Monthly gross income 1,870
Monthly gross income 2,350
Monthly gross income 4,100
Monthly gross income 6,310
Monthly gross income 1,250
Monthly gross income 5,550
Monthly gross income 1,250
Monthly gross income 5,840
Monthly gross income 1,610
Monthly gross income 6,780
Monthly gross income 1,250
Monthly gross income 2,500
Monthly gross income 1,580
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 4,230
Monthly gross income 1,650
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 13,960
Monthly gross income 3,400
Monthly gross income 4,580
Monthly gross income 3,320
Monthly gross income 3,520
Monthly gross income 5,130
Monthly gross income 3,830
Monthly gross income 2,770
Monthly gross income 2,280
Monthly gross income 6,350
Monthly gross income 1,550
Monthly gross income 4,390
Monthly gross income 4,970
Monthly gross income 1,750
Monthly gross income 3,150
Monthly gross income 1,250
Monthly gross income 4,780
Monthly gross income 1,250
Monthly gross income 1,370
Monthly gross income 2,210
Monthly gross income 7,280
Monthly gross income 5,440
Monthly gross income 1,250
Monthly gross income 5,200
Monthly gross income 12,800
Monthly gross income 2,730
Monthly gross income 1,250
Monthly gross income 9,810
Monthly gross income 7,640
Monthly gross income 9,040
Monthly gross income 3,360
Monthly gross income 1,630
Monthly gross income 7,530
Monthly gross income 2,400
Monthly gross income 1,690
Monthly gross income 1,250
Monthly gross income 6,530
Monthly gross income 16,670
Monthly gross income 5,170
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 2,330
Monthly gross income 10,570
Monthly gross income 6,360
Monthly gross income 7,130
Monthly gross income 4,670
Monthly gross income 1,380
Monthly gross income 13,780
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 5,440
Monthly gross income 6,040
Monthly gross income 6,930
Monthly gross income 11,070
Monthly gross income 9,630
Monthly gross income 2,970
Monthly gross income 3,930
Monthly gross income 4,430
Monthly gross income 4,320
Monthly gross income 2,430
Monthly gross income 5,690
Monthly gross income 2,680
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 1,670
Monthly gross income 1,250
Monthly gross income 2,540
Monthly gross income 3,250
Monthly gross income 2,150
Monthly gross income 1,250
Monthly gross income 5,750
Monthly gross income 7,250
Monthly gross income 8,450
Monthly gross income 10,180
Monthly gross income 12,910
Monthly gross income 16,670
Monthly gross income 13,880
Monthly gross income 3,760
Monthly gross income 3,720
Monthly gross income 16,670
Monthly gross income 9,390
Monthly gross income 1,250
Monthly gross income 6,300
Monthly gross income 4,640
Monthly gross income 1,250
Monthly gross income 2,390
Monthly gross income 3,280
Monthly gross income 3,110
Monthly gross income 7,920
Monthly gross income 1,730
Monthly gross income 1,780
Monthly gross income 5,650
Monthly gross income 1,600
Monthly gross income 7,200
Monthly gross income 1,680
Monthly gross income 7,400
Monthly gross income 1,720
Monthly gross income 16,670
Monthly gross income 5,340
Monthly gross income 8,170
Monthly gross income 1,250
Monthly gross income 9,380
Monthly gross income 1,250
Monthly gross income 4,970
Monthly gross income 1,270
Monthly gross income 3,330
Monthly gross income 1,530
Monthly gross income 7,690
Monthly gross income 5,460
Monthly gross income 4,310
Monthly gross income 1,250
Monthly gross income 2,680
Monthly gross income 1,250
Monthly gross income 4,280
Monthly gross income 4,590
Monthly gross income 3,780
Monthly gross income 2,790
Monthly gross income 1,250
Monthly gross income 2,120
Monthly gross income 2,980
Monthly gross income 3,030
Monthly gross income 16,670
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 10,800
Monthly gross income 8,370
Monthly gross income 16,670
Monthly gross income 2,980
Monthly gross income 6,660
Monthly gross income 1,950
Monthly gross income 1,310
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 8,710
Monthly gross income 3,640
Monthly gross income 2,370
Monthly gross income 1,250
Monthly gross income 2,700
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 2,130
Monthly gross income 1,910
Monthly gross income 1,250
Monthly gross income 15,130
Monthly gross income 7,780
Monthly gross income 1,250
Monthly gross income 7,180
Monthly gross income 5,880
Monthly gross income 6,310
Monthly gross income 3,920
Monthly gross income 4,090
Monthly gross income 10,410
Monthly gross income 9,050
Monthly gross income 6,460
Monthly gross income 16,670
Monthly gross income 3,070
Monthly gross income 2,110
Monthly gross income 1,250
Monthly gross income 1,280
Monthly gross income 14,790
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 2,030
Monthly gross income 10,980
Monthly gross income 1,460
Monthly gross income 1,250
Monthly gross income 3,500
Monthly gross income 2,140
Monthly gross income 1,270
Monthly gross income 8,090
Monthly gross income 1,250
Monthly gross income 2,730
Monthly gross income 7,800
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 2,500
Monthly gross income 4,770
Monthly gross income 6,910
Monthly gross income 3,300
Monthly gross income 3,600
Monthly gross income 2,930
Monthly gross income 1,250
Monthly gross income 8,510
Monthly gross income 10,460
Monthly gross income 2,150
Monthly gross income 2,700
Monthly gross income 2,410
Monthly gross income 2,740
Monthly gross income 1,380
Monthly gross income 9,550
Monthly gross income 15,210
Monthly gross income 2,930
Monthly gross income 3,800
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 2,990
Monthly gross income 16,670
Monthly gross income 5,150
Monthly gross income 4,230
Monthly gross income 11,560
Monthly gross income 1,250
Monthly gross income 2,640
Monthly gross income 4,310
Monthly gross income 1,330
Monthly gross income 6,720
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 1,670
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 6,760
Monthly gross income 1,250
Monthly gross income 4,230
Monthly gross income 6,250
Monthly gross income 1,250
Monthly gross income 2,660
Monthly gross income 2,030
Monthly gross income 1,250
Monthly gross income 4,630
Monthly gross income 3,520
Monthly gross income 2,060
Monthly gross income 1,250
Monthly gross income 1,830
Monthly gross income 1,650
Monthly gross income 3,520
Monthly gross income 1,250
Monthly gross income 1,930
Monthly gross income 1,500
Monthly gross income 2,130
Monthly gross income 3,320
Monthly gross income 1,250
Monthly gross income 10,250
Monthly gross income 9,800
Monthly gross income 9,880
Monthly gross income 1,250
Monthly gross income 1,380
Monthly gross income 6,970
Monthly gross income 4,330
Monthly gross income 3,500
Monthly gross income 6,570
Monthly gross income 2,020
Monthly gross income 11,990
Monthly gross income 4,820
Monthly gross income 11,990
Monthly gross income 11,110
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 1,250
Monthly gross income 3,330
Monthly gross income 2,430
Monthly gross income 4,310
Monthly gross income 16,360
Monthly gross income 5,830
Monthly gross income 2,930
Monthly gross income 3,940
Monthly gross income 7,250
Monthly gross income 1,650
Monthly gross income 1,250
Monthly gross income 4,270
Monthly gross income 6,660
Monthly gross income 6,330
Monthly gross income 4,540
Monthly gross income 16,670
Monthly gross income 2,630
Monthly gross income 5,860
Monthly gross income 2,760
Monthly gross income 10,230
Monthly gross income 3,150
Monthly gross income 2,080
Monthly gross income 1,250
Monthly gross income 2,500
Monthly gross income 6,460
Monthly gross income 3,420
Monthly gross income 3,780
Monthly gross income 4,510
Monthly gross income 4,290
Monthly gross income 15,470
Monthly gross income 5,280
Monthly gross income 2,230
Monthly gross income 6,430
Monthly gross income 7,290
Monthly gross income 1,250
Monthly gross income 3,150
Monthly gross income 3,680
Monthly gross income 9,930
Monthly gross income 1,250
Monthly gross income 3,810
Monthly gross income 1,640
Monthly gross income 3,000
Monthly gross income 16,670
Monthly gross income 6,240
Monthly gross income 2,280
Monthly gross income 3,380
Monthly gross income 5,690
Monthly gross income 2,090
Monthly gross income 16,670
Monthly gross income 4,330
Monthly gross income 1,280
Monthly gross income 1,770
Monthly gross income 3,330
Monthly gross income 6,050
Monthly gross income 16,670
Monthly gross income 1,700
Monthly gross income 2,810
Monthly gross income 1,820
Monthly gross income 14,850
Monthly gross income 1,250
Monthly gross income 4,650
Monthly gross income 8,310
Monthly gross income 4,890
Monthly gross income 16,670
Monthly gross income 16,020
Monthly gross income 4,860
Monthly gross income 9,450
Monthly gross income 5,860
Monthly gross income 3,830
Monthly gross income 12,530
Monthly gross income 7,230
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 7,220
Monthly gross income 6,030
Monthly gross income 9,770
Monthly gross income 2,380
Monthly gross income 8,090
Monthly gross income 7,310
Monthly gross income 3,390
Monthly gross income 4,470
Monthly gross income 1,820
Monthly gross income 5,380
Monthly gross income 13,560
Monthly gross income 6,520
Monthly gross income 1,250
Monthly gross income 7,980
Monthly gross income 1,250
Monthly gross income 2,360
Monthly gross income 10,230
Monthly gross income 1,250
Monthly gross income 3,220
Monthly gross income 16,670
Monthly gross income 1,360
Monthly gross income 1,250
Monthly gross income 13,750
Monthly gross income 2,880
Monthly gross income 1,890
Monthly gross income 4,250
Monthly gross income 8,900
Monthly gross income 6,480
Monthly gross income 3,970
Monthly gross income 1,250
Monthly gross income 12,930
Monthly gross income 6,400
Monthly gross income 3,000
Monthly gross income 11,690
Monthly gross income 2,700
Monthly gross income 1,250
Monthly gross income 2,530
Monthly gross income 13,480
Monthly gross income 5,620
Monthly gross income 1,980
Monthly gross income 4,920
Monthly gross income 1,250
Monthly gross income 3,420
Monthly gross income 3,510
Monthly gross income 1,880
Monthly gross income 1,250
Monthly gross income 3,030
Monthly gross income 16,410
Monthly gross income 5,000
Monthly gross income 14,810
Monthly gross income 3,830
Monthly gross income 2,260
Monthly gross income 3,060
Monthly gross income 13,860
Monthly gross income 3,230
Monthly gross income 1,250
Monthly gross income 10,830
Monthly gross income 1,930
Monthly gross income 5,860
Monthly gross income 3,420
Monthly gross income 6,330
Monthly gross income 16,670
Monthly gross income 8,850
Monthly gross income 1,250
Monthly gross income 16,670
Monthly gross income 1,250
Monthly gross income 1,250

In [10]:
def get_lower_bound(x):
    if '-' in x:
        return x.split('-')[0]
    elif '+' in x:
        return x.split('+')[0]
    
df["credit_score"] = df["CREDIT_RANGE"].apply(get_lower_bound)
print df.head(10)

        RECORD_CREATION_DATE  LOAN_AMOUNT CREDIT_RANGE     EXISTING_DEBT  \
0  01May2014:12:56:37.000000         2500      780-799               NaN
1  01May2014:16:55:30.000000         4700      760-779   $10,001-$20,000
2  01May2014:17:05:59.000000         5800      740-759   $20,001-$30,000
3  02May2014:10:51:57.000000         2500      700-719  $90,001-$100,000
4  02May2014:14:19:03.000000         4600      780-799   $20,001-$30,000
5  02May2014:17:33:29.000000         8400      700-719        $1-$10,000
6  02May2014:18:04:25.000000         7100      720-739               NaN
7  02May2014:18:38:09.000000         2900         800+               NaN
8  05May2014:12:51:52.000000         2500      760-779               NaN
9  05May2014:14:43:47.000000         2700      740-759               NaN

                                         AGENT_NOTES      OFFICE_LOCATION  \
0                         Monthly gross income 1,250     WASHINGTON STATE
1                       Annual gross income: $15,000  NORTHERN CALIFORNIA
2                       Annual gross income: $15,000     WASHINGTON STATE
3                         Monthly gross income 5,480  SOUTHERN CALIFORNIA
4                                                NaN     WASHINGTON STATE
5                                                NaN  SOUTHERN CALIFORNIA
6  Annual gross income: $33,700...Customer has no...              ARIZONA
7  Customer has no existing debt...Annual gross i...              ARIZONA
8                                                NaN  SOUTHERN CALIFORNIA
9                                                NaN  SOUTHERN CALIFORNIA

       entry_recorded monthly_income credit_score
0 2014-05-01 12:56:37          $1250          780
1 2014-05-01 16:55:30         $15000          760
2 2014-05-01 17:05:59         $15000          740
3 2014-05-02 10:51:57          $5480          700
4 2014-05-02 14:19:03            NaN          780
5 2014-05-02 17:33:29            NaN          700
6 2014-05-02 18:04:25          $2808          720
7 2014-05-02 18:38:09          $4800          800
8 2014-05-05 12:51:52            NaN          760
9 2014-05-05 14:43:47            NaN          740

In [11]:
def get_debt(x):
    if np.nan == x or str(x) == 'nan':
        return 0.0
    elif '-' in x:
        one = x.split('-')[0]
        one = "".join(re.findall(r'[0-9]+', one))
        return float(one)
    elif '+' in x:
        one = x.split('-')[0]
        one = "".join(re.findall(r'[0-9]+', one))
        return float(one)

df["debt"] = df["EXISTING_DEBT"].apply(get_debt)

df.head()

,RECORD_CREATION_DATE,LOAN_AMOUNT,CREDIT_RANGE,EXISTING_DEBT,AGENT_NOTES,OFFICE_LOCATION,entry_recorded,monthly_income,credit_score,debt
0,01May2014:12:56:37.000000,2500,780-799,NaN,"Monthly gross income 1,250",WASHINGTON STATE,2014-05-01 12:56:37,$1250,780,0.0
1,01May2014:16:55:30.000000,4700,760-779,"$10,001-$20,000","Annual gross income: $15,000",NORTHERN CALIFORNIA,2014-05-01 16:55:30,$15000,760,10001.0
2,01May2014:17:05:59.000000,5800,740-759,"$20,001-$30,000","Annual gross income: $15,000",WASHINGTON STATE,2014-05-01 17:05:59,$15000,740,20001.0
3,02May2014:10:51:57.000000,2500,700-719,"$90,001-$100,000","Monthly gross income 5,480",SOUTHERN CALIFORNIA,2014-05-02 10:51:57,$5480,700,90001.0
4,02May2014:14:19:03.000000,4600,780-799,"$20,001-$30,000",NaN,WASHINGTON STATE,2014-05-02 14:19:03,NaN,780,20001.0

In [12]:
grouped_df = df.groupby([df['OFFICE_LOCATION'], df['CREDIT_RANGE']])
print grouped_df.count()
print grouped_df.mean()

                                  RECORD_CREATION_DATE  LOAN_AMOUNT  \
OFFICE_LOCATION     CREDIT_RANGE
ARIZONA             700-719                        322          322
                    720-739                        102          102
                    740-759                        162          162
                    760-779                        140          140
                    780-799                        149          149
                    800+                           144          144
NEVADA              700-719                        227          227
                    720-739                         51           51
                    740-759                        104          104
                    760-779                         83           83
                    780-799                         83           83
                    800+                           106          106
NORTHERN CALIFORNIA 700-719                        300          300
                    720-739                        109          109
                    740-759                        203          203
                    760-779                        132          132
                    780-799                        143          143
                    800+                           161          161
OREGON              700-719                        133          133
                    720-739                         53           53
                    740-759                         72           72
                    760-779                         61           61
                    780-799                         68           68
                    800+                            68           68
SOUTHERN CALIFORNIA 700-719                        408          408
                    720-739                        125          125
                    740-759                        249          249
                    760-779                        183          183
                    780-799                        182          182
                    800+                           210          210
WASHINGTON STATE    700-719                        148          148
                    720-739                         45           45
                    740-759                         76           76
                    760-779                         68           68
                    780-799                         61           61
                    800+                            69           69

                                  CREDIT_RANGE  EXISTING_DEBT  AGENT_NOTES  \
OFFICE_LOCATION     CREDIT_RANGE
ARIZONA             700-719                322            289          204
                    720-739                102             85           62
                    740-759                162            117          102
                    760-779                140             99           93
                    780-799                149             75           95
                    800+                   144             82           97
NEVADA              700-719                227            207          136
                    720-739                 51             44           34
                    740-759                104             76           71
                    760-779                 83             53           57
                    780-799                 83             54           57
                    800+                   106             63           66
NORTHERN CALIFORNIA 700-719                300            275          194
                    720-739                109             91           68
                    740-759                203            156          128
                    760-779                132             86           96
                    780-799                143             92           86
                    800+                   161             85           98
OREGON              700-719                133            118           81
                    720-739                 53             41           32
                    740-759                 72             53           45
                    760-779                 61             39           39
                    780-799                 68             43           46
                    800+                    68             38           48
SOUTHERN CALIFORNIA 700-719                408            383          277
                    720-739                125            104           71
                    740-759                249            185          154
                    760-779                183            123          112
                    780-799                182            119          107
                    800+                   210            110          128
WASHINGTON STATE    700-719                148            132           92
                    720-739                 45             35           24
                    740-759                 76             60           49
                    760-779                 68             44           51
                    780-799                 61             41           32
                    800+                    69             33           47

                                  OFFICE_LOCATION  entry_recorded  \
OFFICE_LOCATION     CREDIT_RANGE
ARIZONA             700-719                   322             322
                    720-739                   102             102
                    740-759                   162             162
                    760-779                   140             140
                    780-799                   149             149
                    800+                      144             144
NEVADA              700-719                   227             227
                    720-739                    51              51
                    740-759                   104             104
                    760-779                    83              83
                    780-799                    83              83
                    800+                      106             106
NORTHERN CALIFORNIA 700-719                   300             300
                    720-739                   109             109
                    740-759                   203             203
                    760-779                   132             132
                    780-799                   143             143
                    800+                      161             161
OREGON              700-719                   133             133
                    720-739                    53              53
                    740-759                    72              72
                    760-779                    61              61
                    780-799                    68              68
                    800+                       68              68
SOUTHERN CALIFORNIA 700-719                   408             408
                    720-739                   125             125
                    740-759                   249             249
                    760-779                   183             183
                    780-799                   182             182
                    800+                      210             210
WASHINGTON STATE    700-719                   148             148
                    720-739                    45              45
                    740-759                    76              76
                    760-779                    68              68
                    780-799                    61              61
                    800+                       69              69

                                  monthly_income  credit_score  debt
OFFICE_LOCATION     CREDIT_RANGE
ARIZONA             700-719                  171           322   322
                    720-739                   54           102   102
                    740-759                   81           162   162
                    760-779                   78           140   140
                    780-799                   79           149   149
                    800+                      75           144   144
NEVADA              700-719                  114           227   227
                    720-739                   29            51    51
                    740-759                   62           104   104
                    760-779                   42            83    83
                    780-799                   47            83    83
                    800+                      52           106   106
NORTHERN CALIFORNIA 700-719                  166           300   300
                    720-739                   60           109   109
                    740-759                  104           203   203
                    760-779                   76           132   132
                    780-799                   69           143   143
                    800+                      81           161   161
OREGON              700-719                   65           133   133
                    720-739                   27            53    53
                    740-759                   31            72    72
                    760-779                   33            61    61
                    780-799                   35            68    68
                    800+                      39            68    68
SOUTHERN CALIFORNIA 700-719                  231           408   408
                    720-739                   60           125   125
                    740-759                  126           249   249
                    760-779                   89           183   183
                    780-799                   92           182   182
                    800+                     101           210   210
WASHINGTON STATE    700-719                   77           148   148
                    720-739                   19            45    45
                    740-759                   43            76    76
                    760-779                   42            68    68
                    780-799                   27            61    61
                    800+                      41            69    69
                                  LOAN_AMOUNT          debt
OFFICE_LOCATION     CREDIT_RANGE
ARIZONA             700-719       5533.540373  35062.866460
                    720-739       5731.372549  33824.186275
                    740-759       5993.209877  26358.641975
                    760-779       6435.000000  22929.200000
                    780-799       6865.771812  17450.093960
                    800+          8371.527778  17708.868056
NEVADA              700-719       5833.480176  31718.850220
                    720-739       5372.549020  29608.568627
                    740-759       7151.923077  24616.009615
                    760-779       5848.192771  17590.975904
                    780-799       7167.469880  21205.421687
                    800+          8272.641509  15849.632075
NORTHERN CALIFORNIA 700-719       5492.333333  32434.126667
                    720-739       6455.963303  29083.311927
                    740-759       6517.241379  24680.492611
                    760-779       7309.090909  20303.613636
                    780-799       7630.769231  22657.888112
                    800+          8393.788820  16894.869565
OREGON              700-719       5885.714286  29098.541353
                    720-739       6239.622642  31698.754717
                    740-759       6213.888889  23056.208333
                    760-779       7413.114754  20000.557377
                    780-799       6477.941176  20882.897059
                    800+          8375.000000  15294.617647
SOUTHERN CALIFORNIA 700-719       6411.029412  34241.017157
                    720-739       6504.800000  30800.704000
                    740-759       6011.646586  24779.763052
                    760-779       6813.114754  22186.387978
                    780-799       6348.901099  20440.159341
                    800+          7492.857143  14190.966667
WASHINGTON STATE    700-719       5094.594595  30473.763514
                    720-739       5106.666667  32445.088889
                    740-759       6828.947368  30658.578947
                    760-779       6980.882353  24412.338235
                    780-799       7431.147541  22131.737705
                    800+          7289.855072  18406.173913

    14. What is the advantage of using built-in pandas string methods as opposed to apply()?
    
    1. Easy to operate on the dataframe.
    2. Comes with string function like split, contains
    3. Apply is generally based on user wriiten function so may not be efficient.

    15. What is the average number of hours between record creations? Please show the code you wrote.

In [13]:
l = len(df['entry_recorded']) - 1
for i in xrange(l):
    df['time_diff'] = df.entry_recorded[i+1] - df.entry_recorded[i]

total_time = df['time_diff'].sum()
avg_time = total_time / (l + 1)
print "Average hours {avg_time}." .format(avg_time=avg_time)

Average hours 0 days 02:24:53.

In [14]:
grouped_df_california = df.groupby([df['OFFICE_LOCATION']])

total_records = (
    len(grouped_df_california.get_group('NORTHERN CALIFORNIA')) + 
    len(grouped_df_california.get_group('SOUTHERN CALIFORNIA')))

print "Total California records: {total_records}." .format(total_records=total_records)

Total California records: 2405.